{% extends 'layouts/base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    <div class="login-page">
        <div class="form">
            {{ form_start(registrationForm) }}
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                {{ form_row(registrationForm.first_name) }}
                {{ form_row(registrationForm.last_name) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.status) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit">Register</button>
                <p class="message">Already registered? <a href="{{ path('app_login') }}">Sign In</a></p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}