{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Category - {{ categoryPosts.title }}</h2>
                </div>
            </div>

            {% for post in categoryPosts.posts %}
                <div class="col-md-12">
                    <div class="post post-row">
                        <a class="post-img" href="{{ path('post',  {'postSlug': post.slug }) }}"><img src="/img/post-1.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-4" href="{{ path('category_posts',  {'categorySlug': post.category.slug }) }}">{{ post.category.title }}</a>
                                <span class="post-date">{{ post.createdAt.date|localizeddate('long', 'short') }}</span>
                            </div>
                            <h3 class="post-title"><a href="{{ path('post',  {'postSlug': post.slug }) }}">{{ post.title }}</a></h3>
                            <p class="post-elipsis">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-12">
                <div class="section-row"></div>
            </div>
        </div>
    </div>
{% endblock %}
